#titleCodelab {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

.pasar-boton{
    height: fit-content;
    align-self: center;
}

#contenido{
    width: 20%;
    align-self: center;
}

#codelab{
    display: block;
    text-align: left;
}